@font-face { font-family: cbm64;     src: url(../fonts/PetMe64.ttf); }
@font-face { font-family: cbm128-80; src: url(../fonts/PetMe1282Y.ttf); }

:root {
    --backgnd: #444444;
    --backgnd-dark: black;
    --foregnd: #dddddd;
    --foregnd-brite: white;
    --blocker-color: rgba(0,0,0,0.5);

    --backgnd-c64: #4555D6;
    --foregnd-c64: #8E9AFF;

    --backgnd-c128: #777777;
    --foregnd-c128: #CDFFAC;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--backgnd);
    color: var(--foregnd);
}

#blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--blocker-color);
    display: none;
    z-index: 10;
}

#menu {
    font-family: cmb64;
    color: var(--foregnd-brite);
    background: var(--backgnd);
    text-transform: uppercase;
    font-size: 14px;
    font-family: cbm64;
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
    line-height: 19px;
    z-index: 5;
}
.c64 #menu {
    background: var(--foregnd-c64);
    color: var(--backgnd-c64);
}
body.c64 { background: var(--foregnd-c64); }
.c128 #menu {
    background: var(--foregnd-c128);
    color: var(--backgnd-c128);
}
body.c128 { background: var(--foregnd-c128); }

#menu button {
    font-family: sans-serif;
    font-size: 9pt;
    margin: 0 5px;
    padding: 0 5px;
    float: right;
    border-radius: 6px;
    border: solid 1px var(--foregnd-brite);
    background: var(--foregnd-brite);
    color: black;
    cursor: pointer;
}
#menu button:hover {
    border-color: var(--foregnd);
    background: var(--foregnd);
    color: var(--backgnd-dark);
}
#menu button.inactive {
    background: var(--backgnd-dark);
    color: var(--foregnd);
}

#menu input[type=text] {
    border: none;
    margin: 0;
    padding: 3px;
    font-size: 14px;
    background: var(--backgnd);
    color: var(--foregnd);
    width: 16em;
    font-family: cbm64;
}
#menu input[readonly] { color: #aaaaaa; }
#menu input::placeholder { font-style: italic; }

#menu span {
    cursor: pointer;
    opacity: 60%;
    padding-right: 1px;
    display: inline-block;
    z-index: 20;
}
#menu span.active {
    background: var(--foregnd);
    color: var(--backgnd);
}
#menu span:hover {
    opacity: 1;
}
#menu ul {
    position: fixed;
    z-index: 20;
    top: 20px;
    margin: 0;
    border: solid 1px var(--foregnd);
    padding: 0.25em;
    width: 17em;
    background: var(--backgnd);
    color: var(--foregnd);
}
#menu ul li {
    list-style-type: none;
    cursor: pointer;
}
#menu ul li:hover {
    background: var(--foregnd);
    color: var(--backgnd);
}
#menu ul li input[type=file] { display: none; }
#menu #fnamemenu { left: 7em; }
#menu #dnamemenu { left: 28.5em; }

.c128 #menu ul li:hover, .c128 #menu span.active {
    background: var(--backgnd-c128);
    color: var(--foregnd-c128);
    opacity: 1;
}
.c64 #menu ul li:hover, .c64 #menu span.active {
    background: var(--backgnd-c64);
    color: var(--foregnd-c64);
    opacity: 1;
}

#menu ul li.disabled {
    opacity: 0.5;
    cursor: default;
}
#menu ul li.disabled:hover {
    opacity: 0.5;
    background: inherit !important;
    color: inherit !important;
}

.c128 #menu input[type=text], .c128 #menu ul {
    border-color: var(--foregnd-c128);
    background: var(--foregnd-c128);
    color: var(--backgnd-c128)
}
.c64 #menu input[type=text], .c64 #menu ul {
    border-color: var(--foregnd-c64);
    background: var(--foregnd-c64);
    color: var(--backgnd-c64);
}


#container {
    width: 98vw;
    height: calc(99vh - 20px);
    margin-top: 20px;
    margin-left: 1vw;
}

#catalog {
    z-index: 20;
    font-family: cbm64, monospace;
    font-size: 16px;
    position: fixed;
    width: 28em;
    padding: 1em;
    border: solid 1em var(--backgnd-dark);
    height: 70vh;
    overflow-y: auto;
    top: 15vh;
    left: calc(50vw - 14em);
    color: var(--foregnd);
    background: var(--backgnd-dark);
}
#catalog h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#catalog h2 span { white-space: pre; }
#catalog ul {
    padding: 0;
    margin: 0;
}
#catalog ul li { 
    list-style: none; 
    white-space: pre;  
    cursor: pointer;
}
#catalog h2 span, #disc ul li:hover {
    color: var(--backgnd-dark);
    background: var(--foregnd);
}
.c64 #catalog {
    background: var(--backgnd-c64);
    color: var(--foregnd-c64);
}
.c64 #catalog h2 span, .c64 #catalog ul li:hover {
    background: var(--foregnd-c64);
    color: var(--backgnd-c64);
}
.c128 #catalog {
    background: var(--backgnd-c128);
    color: var(--foregnd-c128);
}
.c128 #catalog h2 span, .c128 #catalog ul li:hover {
    background: var(--foregnd-c128);
    color: var(--backgnd-c128);
}

.special-variable {
    font-family: monospace;
    font-size: 10pt;
    background: black;
    border-radius: 4px;
    color: darkgoldenrod !important;
}
