#vkeyboard.kb-c64 .kb-layout {
    font-family: "Play", sans-serif;
}

#vkeyboard.kb-c64 .kb-layout key.k-indent {
    margin-left: calc(var(--key-width) * 0.25);
}
#vkeyboard.kb-c64 .kb-layout key.k-fn {
    background: #857568; /* C64 function key color */
    width: calc(var(--key-width) * 1.6);
    margin-left: calc(var(--key-width) * 0.5);
    border-color: rgb(from #857568 calc(r * 0.5) calc(g * 0.5) calc(b * 0.5));
}
#vkeyboard.kb-c64 .kb-layout key.k-fn.k-smgap {
    margin-left: calc(var(--key-width) * 0.25);
}

#vkeyboard.kb-c64 .kb-layout key.k-space {
    margin-left: calc(var(--key-width) * 3.6);
    width: calc(var(--key-width) * 11.5);
}
