
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

#vkeyboard.kb-pet-g h2 { color: var(--dialog-foreground); }

#vkeyboard.kb-pet-g .kb-layout {
    font-family: "Microma", sans-serif;
}
#vkeyboard.kb-pet-g .kb-layout key.k-label-sm { font-size: 6px; }
#vkeyboard.kb-pet-g .kb-layout key.k-gap25 {
    margin-left: calc(var(--key-width) * 0.25)
}
#vkeyboard.kb-pet-g .kb-layout key.k-gap50 {
    margin-left: calc(var(--key-width) * 0.5)
}
#vkeyboard.kb-pet-g .kb-layout key.k-gap75 {
    margin-left: calc(var(--key-width) * 0.85)
}
#vkeyboard.kb-pet-g .kb-layout key.k-gap100 {
    margin-left: calc(var(--key-width) * 1.1)
}
#vkeyboard.kb-pet-g .kb-layout key.k-gap125 {
    margin-left: calc(var(--key-width) * 1.1)
}
#vkeyboard.kb-pet-g .kb-layout key.k-space {
    margin-left: calc(var(--key-width) * 3.2);
    width: calc(var(--key-width) * 10.8);
}
#vkeyboard.kb-pet-g .kb-layout key.k-gapsp {
    margin-left: calc(var(--key-width) * 3.75)
}
