:root {
    --plus-4-fn-color: #979890;
}

#vkeyboard.kb-plus4 { 
    width: 480px;
    height: 248px;
}
#vkeyboard.kb-plus4 .kb-layout {
    font-family: "Play", sans-serif;
}
#vkeyboard.kb-plus4 .kb-layout key {
    text-align: left;
    align-content: start;
    line-height: normal;
} 
#vkeyboard.kb-plus4 .kb-layout key.k-label { font-size: 7px; }
#vkeyboard.kb-plus4 .kb-layout key.k-label-sm { font-size: 7px; }
#vkeyboard.kb-plus4 .kb-layout key.k-gap { margin-left: 10px; }
#vkeyboard.kb-plus4 .kb-layout key.k-fn.k-gap { margin-left: 26px; }

#vkeyboard.kb-plus4 .kb-layout key.k-ctr { text-align: center; align-content: center; }
#vkeyboard.kb-plus4 .kb-layout key.k-fn {
    width: 47px;
    height: 12px;
    line-height: 12px;
    border-radius: 0;
    background: var(--plus-4-fn-color);
    border-color: rgb(from var(--plus-4-fn-color) calc(r * 0.5) calc(g * 0.5) calc(b * 0.5));
    margin-bottom: 10px;
    margin-left: 2px;
}
#vkeyboard.kb-plus4 .kb-layout key.k-space {
    margin-left: calc(var(--key-width) * 4.2);
    width: calc(var(--key-width) * 10.7);
}
#vkeyboard.kb-plus4 .kb-layout key svg {
    padding: 0;
    width: 12px;
    height: 12px;
}

#vkeyboard.kb-plus4 .kb-layout .k-tall-c key {
    border: none;
    border-radius: 0;
    background: transparent;
    height: var(--key-width);
    text-align: center;
    align-content: center;
}
#vkeyboard.kb-plus4 .kb-layout .k-tall-c key svg {
    stroke: var(--plus-4-fn-color);
    fill: var(--plus-4-fn-color);
    width: calc(var(--key-width) * 0.7);
    height: calc(var(--key-width) * 0.7);
    transform: rotate(45deg);
}
#vkeyboard.kb-plus4 .kb-layout .k-tall-c key.k-arr-up { left: 14px; top: 0px; }
#vkeyboard.kb-plus4 .kb-layout .k-tall-c key.k-arr-dn { left: 14px; top: 27px; transform: rotate(180deg); }
#vkeyboard.kb-plus4 .kb-layout .k-tall-c key.k-arr-lt { left: 0px; top: 14px; transform: rotate(270deg); }
#vkeyboard.kb-plus4 .kb-layout .k-tall-c key.k-arr-rt { left: 27px; top: 14px; transform: rotate(90deg); }
