/* page */
#editor-pane { position: relative; }
body[data-debug=true] #container {
    display: inline-block;
    width: calc(80vw - 1em);
    height: calc(99vh - 2*var(--menu-height));
}

/* monaco */
#container {
    width: 98vw;
    height: calc(99vh - 25px);
    margin-top: 25px;
    margin-left: 1vw;
}
.glyph-margin {
    background: var(--menu-border);
    border-left: solid 1px var(--dialog-background);
    border-right: solid 1px var(--dialog-background);
}
.executionPoint::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 15 15' stroke='black' stroke-width='2' fill='red'%3E%3Cpath d='M14 7 9 2H1v10h8z'/%3E%3C/svg%3E");
    text-align: center;
}
.breakPoint::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 15 15' stroke='black' stroke-width='2' fill='none'%3E%3Ccircle cx='8' cy='8' r='6'/%3E%3C/svg%3E");
    text-align: center;
}
.executionBreakPoint::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 15 15' stroke='black' stroke-width='2' fill='red'%3E%3Ccircle cx='8' cy='8' r='6'/%3E%3C/svg%3E");
    text-align: center;
}
.dataPoint::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 15 15' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 2v10A5 5 0 0 0 2 2m8 2 3 3-3 3'/%3E%3C/svg%3E");
    text-align: center;
}

.debugHighlight {
    text-decoration: underline 3px dashed var(--dialog-foreground);
}
.dataHighlight {
    text-decoration: underline 2px wavy var(--dialog-foreground);
}

/* debug bar */
#debug-bar { 
    display: none; 
    font-size: 0pt;
    margin: 0 1vw;
    padding-left: 22px;
    border-left: solid 1px var(--dialog-background);
    border-bottom: solid 1px var(--dialog-background);
}
body[data-debug=true] #debug-bar { display: block; }

#debug-pause-cont svg.cont { display: none; }
#debug-pause-cont.cont svg.pause { display: none; }
#debug-pause-cont.cont svg.cont { display: inline; }

#trace-mode svg { display: none; width: 18px; height: 18px; }
#trace-mode.tracing svg.tracing { display: inline; }
#trace-mode.running svg.running { display: inline; }

#run-columns svg { display: none; width: 18px; height: 18px; }
#run-columns.col-40 svg.col-40 { display: inline; }
#run-columns.col-80 svg.col-80 { display: inline; }

#run-status-icon svg { 
    display: none; 
    width: 20px;
    height: 20px;
    stroke: var(--menu-foreground);
}
#run-status-icon.starting svg.starting { 
    display: inline;
    animation: spin 1s linear infinite;
}
@keyframes spin { to { transform: rotate(360deg); } }
#run-status-icon.paused svg.paused { display: inline; }
#run-status-icon.stopped svg.stopped { display: inline; }
#run-status-icon.running svg.running {
    display: inline;
    animation: infinite-fade 0.75s ease-in-out infinite alternate;    
}
@keyframes infinite-fade {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}
#run-status-icon.alert svg.alert { display: inline; }

#run-status {
    font-size: 14px;
    vertical-align: top;
    line-height: 30px;
    text-transform: capitalize;
}

/* variable panel */
#debug-variables {
    margin: 0;
    padding: 26px 0 0 0;
    display: none;
    position: absolute;
    right: 1em;
    top: 0;
    width: calc(18vw);
    height: calc(99vh - 55px);
    overflow-y: auto;
    background: var(--dialog-background);
    font-family: var(--editor-font);
    color: var(--dialog-foreground)
}
#debug-variables dt {
    display: inline-block;
    width: 4em;
    margin-right: 1em;
    border-top: solid 1px var(--dialog-border);
    padding-top: 2px;
    margin-bottom: 2px;
    text-align: right;
    vertical-align: top;
}
#debug-variables dd {
    display: inline-block;
    width: calc(100% - 5em);
    border-top: solid 1px var(--dialog-border);
    padding-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    vertical-align: top;
    position: relative;
}
#debug-variables dd::before {
    content: "=";
    position: absolute;
    left: -1em;
    top: -1px;
    border-top: solid 1px var(--dialog-border);
    padding-top: 2px;
}
body[data-debug=true] #debug-variables { display: block; }

#debug-variables dt.v-arr {
    display: block;
    width: 100%;
    text-align: left;
}
#debug-variables dt.v-arr input {
    font-family: var(--editor-font);
    font-size: 12pt;
    color: var(--dialog-foreground);
    background: var(--dialog-background);
    text-align: right;
    border: none;    
}
#debug-variables dd.v-arr {
    border-top: none;
    margin-left: 5em;
}
#debug-variables dd.v-arr::before {
    border-top: none;
    top: 0px;
}
