/* Disk Catalog */

#catalog {
    font-family: var(--menu-font);
    font-size: 16px;
    padding: 1em;
    width: 28em;
    height: 70vh;
    color: var(--dialog-foreground);
    background: var(--dialog-background);
    overflow-y: auto;
}
#catalog h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#catalog h3 span { white-space: pre; }
#catalog ul {
    padding: 0;
    margin: 0;
}
#catalog ul li { 
    list-style: none; 
    white-space: pre;  
    cursor: pointer;
}
#catalog h3 span, #disk ul li:hover {
    color: var(--dialog-background);
    background: var(--dialog-foreground);
}

