@font-face { font-family: cbmthick-40; src: url(../fonts/PetMe64.ttf); font-variant-ligatures: none; }
@font-face { font-family: cbmthick-80; src: url(../fonts/PetMe1282Y.ttf); }
@font-face { font-family: cbmthin-22; src: url(../fonts/PetMe2X.ttf); }
@font-face { font-family: cbmthin-40; src: url(../fonts/PetMe.ttf); }
@font-face { font-family: cbmthin-80; src: url(../fonts/PetMe2Y.ttf); }
@font-face { font-family: monocode-thick; src: url(../fonts/0xProtoNFM-Regular-thick.ttf); size-adjust: 120%; }
@font-face { font-family: monocode-thin; src: url(../fonts/0xProtoNFM-Regular-thin.ttf); size-adjust: 120%; }

:root {
    --menu-border: #444444; /* this is background for the main menu */
    --menu-border-strong: black;
    --menu-foreground: #dddddd;
    --menu-foreground-strong: white;
    --menu-foreground-weak: #aaaaaa;
    --menu-placeholder: #888888;

    --dialog-border: '#444444';
    --dialog-foreground: '#dddddd';
    --dialog-background: black;

    --menu-font: cbmthick-40, monospace;
    --editor-font: cbmthick-40, monospace;

    --button-background: #dddddd;
    --button-background-hover: #e8e8e8;
    --button-background-enabled: #ffffff;

    --blocker-color: rgba(0,0,0,0.25);

    --special-background: #222222;
    --special-foreground: darkgoldenrod;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--menu-border);
    color: var(--menu-foreground);
}

#blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--blocker-color);
    display: none;
    z-index: 10;
}

/* Main Menu */

#menu {
    font-family: var(--menu-font);
    color: var(--menu-foreground);
    background: var(--menu-border);
    text-transform: uppercase;
    font-size: 14px;
    position: fixed;
    vertical-align: top;
    top: 0;
    height: 27px;
    line-height: 27px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}
#menu h1 {
    margin: 0;
    padding: 0;
    font-family: cbmthick-40;
    font-size: 14px;
    display: inline-block;
}
#menu h1:hover {
    color: var(--menu-foreground-strong);
    cursor: pointer;
}

#menu .m-right {
    display: flex;
    justify-content: flex-end;
    gap: 0;
    font-size: 0;
}
#menu svg { vertical-align: middle; }

#menu button, #paletteeditor button {
    font-family: sans-serif;
    font-size: 15px;
    min-height: 20px;
    margin: 3px 5px;
    padding: 0 5px;
    border-radius: 6px;
    border: solid 1px var(--menu-foreground-strong);
    background: var(--button-background);
    color: black;
    cursor: pointer;
}
#menu button:disabled, #menu button:disabled:hover,
#paletteeditor button:disabled, #paletteeditor button:disabled:hover {
    opacity: 0.5;
    cursor: default;
    background: var(--button-background);
    color: black;
}
#menu button.enabled { background: var(--button-background-enabled); }
#menu button:hover, #paletteeditor button:hover {
    background: var(--button-background-hover);
    color: var(--menu-foreground-strong);
}
#menu button#assembler {
    font-family: monospace;
    font-size: 8px;
    text-transform: uppercase;
}

#menu input[type=text] {
    border: none;
    margin: 0;
    padding: 3px;
    font-size: 14px;
    background: var(--menu-border-strong);
    color: var(--menu-foreground);
    width: 16em;
    font-family: var(--menu-font);
    caret-shape: block;
}
#menu input[readonly] { color: var(--menu-foreground-weak); }
#menu input::placeholder { 
    color: var(--menu-placeholder);
    font-style: italic; 
}
    #menu input.f-lc::placeholder { text-transform: lowercase; }

#menu .drop {
    cursor: pointer;
    opacity: 60%;
    padding-right: 1px;
    display: inline-block;
    z-index: 20;
}
#menu .drop svg {
    fill: var(--menu-foreground);
}
#menu .drop.active {
    background: var(--menu-foreground);
    color: var(--menu-border);
}
#menu .drop.active svg {
    fill: var(--menu-border)
}
#menu .drop:hover {
    opacity: 1;
}

#menu ul {
    position: fixed;
    z-index: 20;
    top: 25px;
    margin: 0;
    border: solid 1px var(--menu-foreground);
    padding: 0.25em;
    width: 17em;
    background: var(--menu-border);
    color: var(--menu-foreground);
    font-size: 14px;
}
#menu ul li {
    list-style-type: none;
    cursor: pointer;
}
#menu ul li:hover {
    background: var(--menu-foreground);
    color: var(--menu-border);
}
#menu ul li.keyfocus {
    outline: var(--menu-foreground) auto 1px;
}
#menu ul li input[type=file] { display: none; }
#menu ul li.disabled {
    opacity: 0.5;
    cursor: default;
}
#menu ul li.disabled:hover {
    opacity: 0.5;
    background: inherit !important;
    color: inherit !important;
}

#menu #machine {
    display: inline-block;
    width: 5em;
}

#menu #palette svg { display: none; }
#menu #palette.custom svg.custom { display: inline; }
#menu #palette.dark svg.dark { display: inline; }
#menu #palette.lite svg.lite { display: inline; }
#menu #palette.cbm svg.cbm { display: inline; }

#menu #debug-actions { display: none; }

#menu #server svg { display: none; }
#menu #server.connected svg.connected { display: inline; }
#menu #server.disconnected svg.disconnected { display: inline; }

#menu #edit-actions { display: none; }

#menu #checksum svg { display: none; }
#menu #checksum.checksum-none svg.checksum-none { display: inline; }
#menu #checksum.checksum-on svg.checksum-on { display: inline; }

#menu #checksummenu {
     width: 54em;
     text-align: right;
}

#menu #charset svg { display: none; }
#menu #charset.Ug svg.Ug { display: inline; }
#menu #charset.lU svg.lU { display: inline; }

/* Editor Window(s) */

#container {
    width: 98vw;
    height: calc(99vh - 25px);
    margin-top: 25px;
    margin-left: 1vw;
}
.monaco-editor .margin {
    background: black !important;
}
.monaco-editor .line-numbers {
    font-family: monospace !important;
    color: yellow !important;
    font-size: 70% !important;
}
#container:not(.read-only-mode) .monaco-editor:not(.focused) .cursors-layer .cursor {
    visibility: inherit !important;
}
#container.read-only-mode .monaco-editor .cursors-layer .cursor {
    display: none !important;
}

#about {
    width: 30vw;
    max-height: 60vh;
    border: solid 4px var(--dialog-border);
    background: var(--dialog-background);
    color: var(--dialog-foreground);
}
#about h1 img { 
    display: none; 
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
}
#about.c64 h1 img.c64 { display: inline; }
#about.c128 h1 img.c128 { display: inline; }
#about.c128-80 h1 img.c128-80 { display: inline; }
#about.vic20 h1 img.vic20 { display: inline; }
#about.c16 h1 img.c16 { display: inline; }
#about.plus4 h1 img.plus4 { display: inline; }
#about.pet-g h1 img.pet-g { display: inline; }
#about.pet-b h1 img.pet-b { display: inline; }
#about.cbm2 h1 img.cbm2 { display: inline; }

#about h1 {
    margin-top: 0;
    font-family: var(--menu-font);
    font-size: 35px;
}
#about h1 p {
    margin: 2px 0 0 0;
    font-family: monospace;
    font-size: 8pt;
}
#about h2 {
    font-family: monospace;
    font-size: 16px;
    margin-top: 20px;
}

#about .links {
    margin: 1em 0;
    text-align: center;
}
#about .links a {
    display: inline-block;
    width: 10%;
    margin: 0 2.5%;
    opacity: 0.8;
    cursor: pointer;
}
#about .links a:hover { opacity: 1; }
#about .links a img {
    width: 35px;
    height: 35px;
}

#about .actions {
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;
}
#about button {
    border: solid 1px var(--dialog-foreground);
    background: var(--dialog-foreground);
    padding: 0.15em 1em;
    margin: 0 2%;
    color: var(--dialog-background);
    font-family: monospace;
    font-size: 12pt;
    border-radius: 0.5em;
    font-weight: bold;
    opacity: 0.8;
    cursor: pointer;
}
#about button:hover { opacity: 1; } 
#about button.ol {
    background: var(--dialog-background);
    color: var(--dialog-foreground);    
}
#about button.ol:hover {
    background: var(--dialog-foreground);
    color: var(--dialog-background);
}
